* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

:root {
  --hue: 159;
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

.container {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

body {
  font: 400 1rem "DM Sans", sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  font: 700 1.875rem "Poppins", sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: antialiased;
}

#header {
}

nav {
  height: 7.2rem;
  display: flex;
  justify-content: space-between;
}
