html,
body {
    margin: 0;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

header {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url('../img/home.jpg');
    height: 120vh;
}

nav img {
    width: 150px;
    height: 50px;
    vertical-align: middle;
}

nav a.logo {
    display: inline-block;
    line-height: 90px;
    margin-left: 3%;
}

header nav {
    height: 90px;
}

nav .signin {
    color: #fff;
    float: right;
    background-color: #e50914;
    line-height: normal;
    margin-top: 18px;
    margin-right: 3%;
    padding: 7px 17px;
    font-weight: 400;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
}

.pitch {
    margin: 0 3%;
    position: absolute;
    margin: 35%;
    font-size: 1.8vw;
}

.pitch_title {
    font-size: 3em;
    margin: 0 0 0.2em;
    font-weight: 700;
}

.pitch_subtitle {
    margin: 0 0 .5em;
}